# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.backup
.env.production

# Laravel specific
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*.log
public/storage

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
BACKEND/storage/
!BACKEND/storage/app/USA_Zipcode_table.zip
FRONTEND/dist/
BACKEND/vendor/
FRONTEND/node_modules/
