@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev::before,
.slick-next::before {
  color: #007185 !important;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.blue.500) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.calendarIcon{
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  fill: lightgray;
  pointer-events: none;
 
}